<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Slider</title>

  <!-- BOOTSTRAP ICON -->
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css'
    integrity='sha512-D1liES3uvDpPrgk7vXR/hR/sukGn7EtDWEyvpdLsyalQYq6v6YUsTUJmku7B4rcuQ21rf0UTksw2i/2Pdjbd3g=='
    crossorigin='anonymous' />
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- VUE -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- DATI -->
  <script src="js/date.js"></script>
  <!-- JAVASCRIPT VUE -->
  <script defer src="js/script.js"></script>
</head>
<body>
  <div class="container">
    <div id="root">
      <div id="carousel">
        <!-- PREV BOTTONE -->
        <i id="prev-button" class="bi bi-arrow-left-circle-fill" role="button" v-on:click="setIndex('prev')"></i>
        <!-- GALLERIA -->
        <div class="gallery">
          <!-- CICLO FOR PER RECUPERARE GLI ELEMENTI E INDICE, CON LA DIRETTIVA V-SHOW MOSTRO L'ELEMENTO SOLO QUANDO CURRENTINDEX E' IDENTICO AL INDICE -->
          <figure v-for="(element, i) in date" v-show="currentIndex === i" v-on:mouseenter="stopAutoplay" v-on:mouseleave="startAutoplay">
            <figcaption>
              <h2>{{element.name}}</h2>
              <h3>{{element.description}}</h3>
            </figcaption>
            <img v-bind:src="`img/${element.image}`" v-bind:alt="element.name">
          </figure>
        </div>
        <!-- AL CLICK DEL BOTTONE RICHIAMO LA FUNZIONE -->
        <i id="next-button" class="bi bi-arrow-right-circle-fill" role="button" v-on:click="setIndex('next')"></i>
      </div>
      <!-- THUMBNAILS -->
      <div id="thumbnails">
        <!-- METTO LA CLASSE ACTIVE SE INDICE DELL'IMMAGINE E' IDENTICO ALL'INDICE DEL CURRENTINDEX -->
        <img v-for="(element, i) in date" v-bind:src="`img/${element.image}`" v-bind:alt="element.name" v-bind:class="{'active': i === currentIndex}" v-on:click="currentIndex = i">
      </div>
    </div>
  </div>
</body>
</html>